---
import { formatTimestamp } from '../scripts/utilities.ts';

const { games, players } = Astro.props;

function getResult(white: string, black: string, pgnResult: string)
{
    if (pgnResult === '1-0') return white;
    else if (pgnResult === '0-1') return black;
    else if (pgnResult === '1/2-1/2') return 'Draw';
    else return 'Unknown';
}

---

<section>
    <h2>Games</h2>
    <div class="card">
        <table class="games">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Players</th>
                    <th>Winner</th>
                    <th align="center">Data</th>
                </tr>
            </thead>
            <tbody>
                {
                    games.map((g, i) => (
                        <tr>
                            <td>
                                {formatTimestamp(g.timestamp)}
                            </td>
                            <td>
                                <div class="player"><span class={`dot white`}></span>{players[g.white]}</div>
                                <div class="player"><span class={`dot black`}></span>{players[g.black]}</div>
                            </td>
                            <td>{getResult(players[g.white], players[g.black], g.result)}</td>
                            <td align="center">
                                <button
                                    class="btn copy"
                                    data-pgn={g.pgn}
                                    onclick="copyPGN(this)"
                                >
                                    PGN
                                </button>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
    </div>
</section>