---
import { formatTimestamp } from '../scripts/utilities.ts';
const { moments } = Astro.props;
---

<section>
    <h2>Moments</h2>
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th align="center">Data</th>
                </tr>
            </thead>
            <tbody>
                {
                    moments.map((g, i) => (
                        <tr>
                            <td>
                                {formatTimestamp(g.timestamp)}
                            </td>
                            <td align="center">
                                <button
                                    class="btn copy"
                                    data-pgn={g.pgn}
                                    onclick="copyPGN(this)"
                                >
                                    PGN
                                </button>
                            </td>
                        </tr>
                    ))
                }
            </tbody>
        </table>
    </div>
</section>